<template>
  <div id="app">
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<style lang="scss">
  body{
    margin: 0;
    padding: 0;
  }
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .main{
    height: calc(100vh);
    display: flex;
    overflow: hidden;
    .container{
      margin: 0;
      display: flex;
      padding: 0;
      flex: 1 1 auto;
    }
  }
</style>
