<template>
  <!--<div class="home">-->
    <div class="main">
      <!--<div class="side_content">-->
        <side-bar-component></side-bar-component>
      <!--</div>-->
      <div class="home">
        <map-component></map-component>
      </div>
    </div>
  <!--</div>-->
</template>

<script>
// @ is an alias to /src
import SideBarComponent from '@/components/SideBarComponent';
import MapComponent from '@/components/MapComponent';
export default {
  name: 'home',
  components: {
    SideBarComponent,
    MapComponent
  }
}
</script>
<style lang="scss">
  .main {
    display: flex;
    .main_content {
      display: flex;
      flex: 1 1 auto;
    }
  }
  .main_content{
    width: 100%;
  }
</style>

