<template>
    <section class="map">
        <gmap-map
                :center="center"
                :zoom="zoom"
                ref="gmap"
                map-type-id="terrain"
                :draggable="true"
                style="width: 100%; height: 100%"

        >
            <!--@click="getMarkerPosition($event)"-->
            <gmap-marker
                    :key="index"
                    v-for="(p, index) in PLACES"
                    :position="p.position"
                    :clickable="true"
                    :draggable="false"
                    :icon="icon"
                    @click="info(p)"
            >
                <gmap-info-window :opened="p.details" @closeclick="p.details = false">
                    <div>
                        <div >
                            <p>{{ p.name }}</p>
                            <p>Country: <strong>{{ p.country}}</strong></p>
                        </div>
                        <div >
                            <p>{{ p.state}}</p>
                        </div>
                    </div>
                </gmap-info-window>
            </gmap-marker>
        </gmap-map>
    </section>
</template>
<script>
    export default {
        data: function () {
            return {
                icon: require('../../public/img/icons/visited.png'),
                lat: null,
                lng: null,
                zoom: 13,
                search: '',
                center: { lat:40.1772093, lng:44.5090478 },
            }
        },
        methods: {
            info(place) {
                place.details = true;
            }
        },
        mounted() {
            this.$root.$on('switchCenter', (position) => {
                this.center = position;
            });
        }
    }
</script>
<style lang="scss">
    .home {
        width: 100%;
        position: relative;
        .map {
            width: 100%;
            height: 100%;
        }
    }
</style>