<template>
    <nav class="country">
        <div class="side-section">
            <input type="text" v-model="search" placeholder="Find country... ">

            <ul class="side_bar">
                <li v-for="(country, index) in filteredCountries" :key="index" @click="selectCountry(country)"
                    :class="{'active': (selected && selected.id === country.id)}">
                    <h4>{{country.name}}</h4>
                    <p>{{country.code}}</p>
                    <div class="search_zip" v-if="selected && selected.id === country.id">
                        <input type="text" v-model="zip_code"
                               :name="country.code"
                               data-vv-validate-on="blur"
                               v-validate="'required'">

                        <button type="button" @click.stop="getPlaces(country)">Find</button>

                        <div v-for="error in errors.all()" v-if="!errors.first(country.code)">
                            <small v-if="error" class="invalid">{{ error[0] }}</small>
                        </div>
                        <div v-if="errors.first(country.code)">
                            <small v-if="errors.first(country.code)" class="invalid">{{errors.first(country.code)}}</small>
                        </div>
                    </div>

                    <div class="places">
                        <div class="items"
                             v-for="place in PLACES"
                             v-if="place.country === country.code"
                             @click="changeCenter(place)"
                        >
                            <p>{{place.name}} <strong>{{place.state_code}}</strong></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    import {countryService} from '@/_services'
    import {placeService} from '@/_services'
    import {mapGetters} from 'vuex';

    export default {
        data: function () {
            return {
                search  : null,
                zip_code: null,
                selected: null,
                invalid: false,
                message: null
            }
        },
        computed: {
            ...mapGetters(['COUNTRIES']),
            filteredCountries() {
                return this.COUNTRIES.filter((item) => {
                    let search = new RegExp(this.search, 'i');
                    return search.test(item.name) || search.test(item.code) || !this.search;
                })
            }
        },
        mounted() {
            countryService.countries()
                .then(({data}) => {
                    this.$store.dispatch('SET_COUNTRIES', data);
                })
        },
        methods: {
            selectCountry(country) {
                this.selected = country;
                this.zip_code = null;
                this.invalid = false;
                this.message = null;
                this.$validator.errors.clear();
            },
            getPlaces(param) {
                this.invalid = false;
                let country = param.code,
                    zip_code = this.zip_code;
                this.$validator.validateAll().then(valid => {
                    if (valid) {
                        placeService.places({country, zip_code})
                            .then(({data}) => {
                                this.$store.dispatch('SET_PLACES', data);
                            })
                            .catch(err => {
                                this.invalid = true;
                                this.showErrors(err.response.data.errors, err.response.status);
                            });
                    }
                });
            },
            changeCenter(place) {
                this.$root.$emit('switchCenter', place.position);
            }
        }

    }
</script>

<style lang="scss">
    nav.country {
        position: relative;
        display: flex;
        width: 300px;
        background-color: #ffffff;
        transition: .5s;
        overflow: hidden;
        flex: 1 1.2 auto;
        height: 100%;

        .side-section{
            width: auto;
            height: 100%;
            overflow-x: hidden;
            position: fixed;

            & > input {
                width: 100%;
                height: 30px;
            }

            ul.side_bar {
                width: 100%;
                text-decoration: none;
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    transition: .5s;
                    width: auto;
                    display: block;
                    color: #333;
                    padding: 5px;
                    cursor: pointer;
                    &:not(:last-of-type){
                         border-bottom: 1px solid #eee;
                    }

                    &.active, &:hover {
                       box-shadow: 5px 1px 8px 0 #333;
                    }

                    .search_zip {
                        margin-bottom: 2px;
                        text-align: center;
                        button {
                            transition: .5s;
                            color: #ffffff;
                            background-color: #0c5460;
                            border: none;
                            cursor: pointer;
                            padding: 7px;
                        &:hover {
                             background-color: #0c7d89;
                         }
                        }
                        input {
                            &.invalid {
                                outline-color: #852000;
                             }
                            padding: 5px;
                        }
                    }
                    .places {
                        margin: 5px 0;
                        .items {
                            transition: .5s;
                            padding: 2px 5px;
                            border-top: 1px solid #eee;
                        }
                        .items:hover {
                            background-color: #abc2c5;
                            color: #ffffff;
                        }
                    }
                    .invalid {
                        color: #852000;
                    }
                }
            }
        }
    }
</style>